#cardContainer{
    width: 85vh;
    min-height: 80vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}
.card{
    border: 1px solid gray;
    height: 150px;
    width: 200px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    border-radius: 3px;
    box-shadow: 0 0 5px gainsboro;
}
.btnContainer{
    display: flex;
    gap: 20px;
}      